{% extends 'base.html' %}
{% block title %}Posts{% endblock title %}
{% block content %}
<h1>Posts</h1>
<div class="post-container"></div>
{% for post in post_list %}
<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'post_detail' post.id %}"/>{{post.title}}</h5>
    <small>{{post.theme}}</small>
    <p class="card-text">{{post.text|truncatechars_html:385}}</p>
    <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Continue reading...</a>
  </div>
</div>

</div>
{% endfor %}
{% endblock content %}
